<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>836174757452-5cnk2hpved3pva0j0750ivkaufv44o80.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.836174757452-5cnk2hpved3pva0j0750ivkaufv44o80</string>
	<key>API_KEY</key>
	<string>AIzaSyAS9HGG23ugKyuGBV6vz5H_ksXdTJkuz-A</string>
	<key>GCM_SENDER_ID</key>
	<string>836174757452</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>de.syntax-institut.ListenToYourHeart</string>
	<key>PROJECT_ID</key>
	<string>listen-to-your-heart-ios-ed97f</string>
	<key>STORAGE_BUCKET</key>
	<string>listen-to-your-heart-ios-ed97f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:836174757452:ios:318c2a4e72638a1d5f7ee9</string>
</dict>
</plist>